@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Quicksand", sans-serif; /* Use Quicksand here */
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%; /* Ensure the full height of the viewport is used */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}